@import url(https://fonts.googleapis.com/css?family=Michroma);

body {
  background: #090909 url(https://jackrugile.com/images/misc/space-tile.png);
  font-family: Michroma, sans-serif;
}

canvas {
  display: block;
  left: 0;
  position: absolute;
  top: 0;
}

p {
  color: #fff;
  font-size: 18px;
  padding: 20px;
  position: relative;
  text-shadow: 0 1px 0 #000;
  z-index: 2;
}

p span {
  margin: 0 0 0 2px;
}
