body {
    background-color: black;
    color: rgb(91, 183, 68);
    font-family: 'Courier New', Courier, monospace;
    padding-left: 100px;
    padding-top: 25px;
    
}

a:hover{
    text-decoration: none;
    color: white;
}

a:visited{
    text-decoration: none;
    color: rgb(91, 183, 68);
}

a:active {
    text-decoration: none;
    color: rgb(91, 183, 68);
}

a:link {
    text-decoration: none;
    color: rgb(91, 183, 68);
}

